modules = ["nodejs-20"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EduChain Server"

[[workflows.workflow]]
name = "EduChain Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd lab_eval_blockchain/ChainAssess && export $(cat .env | xargs) && npm run dev"
waitForPort = 5000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38335
externalPort = 3000

[[ports]]
localPort = 40919
externalPort = 3001

[agent]
expertMode = true
